*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    width: 100%;
}

html{
    background-color: #1d1d1d;
    color: rgb(248, 242, 242);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}